<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="importJsFragment">
    <!-- Vendor JS Files -->
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/aos/aos.js}"></script>
    <script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
    <script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>


    <!-- Template Main JS File -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/vendor/email-form/validate.js}"></script>
    <script th:src="@{/assets/js/form-validation.js}"></script>
</th:block>

</html>


