<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>아주환경개발 - Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">


    <style>

        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&display=swap');
        .h1-title{
            font-family: 'Roboto Slab', serif;
            font-weight: 500;
            font-size: 35px;
            line-height: 40px;
            color: #4d4d4d;
            padding-bottom: 15px;
        }
        .border-box {
            box-sizing: border-box;
            min-height: 240px;
            padding: 25px 25px 0;
            border: 1px solid #d5d5d5;
            position: relative;

        }
        .slider img {
            width: 20%; // 5개의 이미지를 한번에 보여주기 위해 이미지의 너비를 20%로 설정
        }
        .bx-wrapper {
            box-shadow: none;
            border: none;

            background: #fff;
        }
        .bx-caption {
            font-size: 20px;
            color: #fff;
        }
        .images{

            height: 263px;
        }
        .main-h3{
            font-size: 17px;
            line-height: 18px;
            color: #4d4d4d;
            padding-bottom: 15px;
            margin-bottom: 10px;
            border-bottom: 1px solid #d1d1d1;
            font-weight: 900;
        }
        .button-img{
            max-width: 178px;
        }





    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">

    <!-- JS, Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="~{fragments/header :: headFragment}"></th:block>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero" style="position: relative;">

    <div class="info d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 data-aos="fade-down"><span>견적 의뢰</span></h2>
                    <p >연락주시면 친절히 상담해 드리겠습니다.</p>
                    <a data-aos="fade-up" data-aos-delay="200" href="/counsel" class="btn-get-started">견적 받으러 가기</a>
                </div>
            </div>
        </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" style="min-height: 54vh;">

        <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/first.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/second.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/third.jpg)"></div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>

</section><!-- End Hero Section -->

<section>
    <div class="container">
        <div class="mx-2" ><h3 class="h1-title" style="text-align: center;">category</h3></div>
        <div class="row" style="margin-top: 24px">
            <div class="col-lg-4 col-sm-12 border-box" >
                <h3 class="main-h3">최신 공지사항</h3>
                <ul>
                    <li th:each="notice : ${recentNotice}" style="  list-style: none;   position: relative;">
                        <a style="margin-left: -25px;display: inline-block;max-width: 210px;font-size: 15px; font-weight: 200;line-height: 27px;color: #4d4d4d;vertical-align: top;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" th:href="@{'/notice/' + ${notice.id}}" th:text="${notice.title}">공지사항</a>
                        <span  style="position: absolute;top: 0;right: 0;font-size: 15px;font-weight: 200;line-height: 30px;color: #4d4d4d;" th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd')}"></span>
                    </li>
                </ul>
                <a style=" position: absolute;right: 25px; top: 19px; " href="/notice" class="more"><img style="width: 28px;" th:src="@{/assets/img/home/plus.png}" alt="더 보기"></a>
            </div>
            <div class="col-lg-1 col-sm-12">
            </div>
            <div class="col-lg-7 col-sm-12 border-box" style="display: flex">

                    <div><a href="/sub/sub06_01.php"><img class="button-img" th:src="@{/assets/img/home/plus.png}" alt=""><p>견적의뢰</p></a></div>
                    <div><a href="/sub/sub01_02.php"><img class="button-img" th:src="@{/assets/img/home/plus.png}"><p>장비보유현황</p></a></div>
                    <div><a href="/sub/sub04_01.php"><img class="button-img" th:src="@{/assets/img/home/plus.png}"><p>철거공법</p></a></div>
                    <div><a href="/sub/sub02_01.php"><img class="button-img" th:src="@{/assets/img/home/plus.png}"><p>철거진행과정</p></a></div>

               <!-- <h3 class="main-h3">바로가기 버튼</h3>
                //견적 장비보유 실적및사례 오시는길
                <button class="btn btn-primary rounded-circle">견적의뢰</button>
                <button class="btn btn-primary rounded-circle">장비보유 현황</button>
                <button class="btn btn-primary rounded-circle">연혁</button>
                <button class="btn btn-primary rounded-circle">인사말</button>-->
            </div>
        </div>
    </div>
</section>

<main id="main">


    <section id="get-started" class="get-started section-bg">
        <div class="container">

            <div class="row justify-content-center gy-4">

                <div class="mx-2" ><h3 class="h1-title" style="text-align: center;">construction photos</h3></div>
                <!-- Carousel Wrapper -->
                <div class="slider">


                    <img class="images fill-slider" th:each="image : ${projectImage}" th:src="@{'/image/' + ${image.imageId}}" th:attr="data-id=${image.id}"/>

                </div>
                <!-- End of Carousel Wrapper -->

            </div>

        </div>
    </section><!-- End Get Started Section -->


</main>

<!-- ======= Footer ======= -->
<th:block th:replace="~{fragments/footer :: footFragment}"></th:block>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:replace="~{fragments/importscript :: importJsFragment}"></th:block>

</body>
<script>
    $(document).ready(function(){
        setTimeout(function() {
            $('.slider').bxSlider({
                slideWidth: 200, // 이 값을 이미지의 너비에 맞게 조절하세요
                minSlides: 5,
                maxSlides: 5,
                moveSlides: 1,
                slideMargin: 20, // 이 값을 늘려서 사진들 사이의 간격을 조정하세요
                auto: true,
                pause: 4000, // 1초마다 슬라이드
                captions: true,
            });
            $(document).on('click', '.images', function() {
                var id = $(this).data('id');
                window.location.href = '/projects/' + id;
            });
        }, 50);



    });

</script>
</html>