<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>아주환경개발 - Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">


    <style>

        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&display=swap');
        .h1-title{
            font-family: 'Roboto Slab', serif;
            font-weight: 500;
            font-size: 35px;
            line-height: 40px;
            color: #4d4d4d;
            padding-bottom: 15px;
        }
        .border-box {
            box-sizing: border-box;
            min-height: 240px;
            padding: 25px 25px 0;
            border: 1px solid #d5d5d5;
            position: relative;

        }

        .bx-wrapper {
            box-shadow: none;
            border: none;

            background: #fff;
        }
        .bx-caption {
            font-size: 20px;
            color: #fff;
        }
        .images{

            height: 263px;
        }
        .main-h3{
            font-size: 17px;
            line-height: 18px;
            color: #4d4d4d;
            padding-bottom: 15px;
            margin-bottom: 10px;
            border-bottom: 1px solid #d1d1d1;
            font-weight: 900;
        }
        .button-img{
            font-size: 5rem; /* 이 값을 조절하여 원하는 크기로 설정합니다 */
            max-width: 100%;
            color : #4d4d4d;
        }
        .col-lg-8.border-box {
            display: flex;
            justify-content: space-between;
            align-items: center; /* 아이콘 내에서 수직으로 가운데로 정렬합니다 */
        }
        @media (min-width: 1400px) {
            .button-img {
                font-size: 140px;
            }
        }



    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">

    <!-- JS, Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="~{fragments/header :: headFragment}"></th:block>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero" style="position: relative;">

    <div class="info d-flex align-items-center">
        <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 text-center" style="
                background: rgba(0, 0, 0, 0.4);
                padding-top: 44px;
                padding-bottom: 29px;
            ">
                <h2 data-aos="fade-down"><span>아주환경개발(주)</span></h2>
                <p>폐기물 수집▪운반</p>
                <p>건물 및 석면 해체</p>
                </div>
            </div>
        </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" style="min-height: 54vh;">

        <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/first.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/second.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/third.jpg)"></div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>

</section><!-- End Hero Section -->

<section>
    <div class="container">
        <div class="mx-2" ><h3 class="h1-title" style="text-align: center;">category</h3></div>
        <div class="row" style="margin-top: 24px">
            <div class="col-lg-3 col-sm-12 border-box" >
                <h3 class="main-h3">최신 공지사항</h3>
                <ul>
                    <li th:each="notice : ${recentNotice}" style="  list-style: none;   position: relative;">
                        <a style="margin-left: -25px;display: inline-block;max-width: 210px;font-size: 15px; font-weight: 200;line-height: 27px;color: #4d4d4d;vertical-align: top;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" th:href="@{'/notice/' + ${notice.id}}" th:text="${notice.title}">공지사항</a>
                        <span  style="position: absolute;top: 0;right: 0;font-size: 15px;font-weight: 200;line-height: 30px;color: #4d4d4d;" th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd')}"></span>
                    </li>
                </ul>
                <a style=" position: absolute;right: 25px; top: 19px; " href="/notice" class="more"><img style="width: 28px;" th:src="@{/assets/img/home/plus.png}" alt="더 보기"></a>
            </div>
            <div class="col-lg-1 col-sm-12">
            </div>
            <div class="col-lg-8 col-sm-12 border-box" style="display: flex ;    justify-content: space-between;">

                    <div><a style="text-align: center;" href="/counsel"> <i class="button-img bi bi-envelope-at"></i><p style="color : black; font-weight: 900;">견적 받기</p></a></div>
<!--                <i class="bi bi-envelope-at"></i>-->
                    <div><a style="text-align: center;" href="/equipment"> <i class="button-img bi bi-truck"></i><p style="color : black; font-weight: 900;">보유 장비</p></a></div>
          <!--      <i class="bi bi-truck"></i>-->
                    <div><a style="text-align: center;" href="/projects"><i class="button-img bi bi-journal-check"></i><p style="color : black; font-weight: 900;">실적 및 사례</p></a></div>
      <!--          <i class="bi bi-journal-check"></i>-->
                    <div><a style="text-align: center;" href="/contact"><i class="button-img bi bi-browser-safari"></i><p style="color : black; font-weight: 900;">오시는길</p></a></div>
                <!--<i class="bi bi-browser-safari"></i>-->

               <!-- <h3 class="main-h3">바로가기 버튼</h3>
                //견적 장비보유 실적및사례 오시는길
                <button class="btn btn-primary rounded-circle">견적의뢰</button>
                <button class="btn btn-primary rounded-circle">장비보유 현황</button>
                <button class="btn btn-primary rounded-circle">연혁</button>
                <button class="btn btn-primary rounded-circle">인사말</button>-->
            </div>
        </div>
    </div>
</section>

<main id="main">


    <section id="get-started" class="get-started section-bg">
        <div class="container">

            <div class="row justify-content-center gy-4">

                <div class="mx-2" ><h3 class="h1-title" style="text-align: center;">construction photos</h3></div>
                <!-- Carousel Wrapper -->
                <div class="slider">
                    <a th:each="image : ${projectImage}" th:href="@{'/projects/' + ${image.id}}">
                        <img class="images fill-slider" th:src="@{'/image/' + ${image.imageId}}" />
                    </a>
                </div>
                <!-- End of Carousel Wrapper -->

            </div>

        </div>
    </section><!-- End Get Started Section -->


</main>
<div class="float-form quickmenu" style="top: 1007.48px;">
    <a href="javascript:void(0);" class="toggle">실시간 견적문의</a>
    <ul class="quickmenu-inner" style="list-style: none;">
        <li><a style="padding: 20px 0px 20px 33px;" href="#">아주환경개발(주)</a></li>
        <li><a href="tel:041-355-7288">전화연결 <p>041-355-7288</p></a></li>
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".float-form .toggle").click(function(){
            $(".float-form").toggleClass("active")
        });
        var wing = jQuery('.quickmenu');
        if(jQuery('body').hasClass('main')){
            var wing_top = 380;
        }else{
            var wing_top = 380;
        }
        wing.css('top', wing_top );
        jQuery(window).scroll(function(){
            wing.stop();
            if (jQuery(window).scrollTop() > wing_top ) {
                wing.animate( { "top": jQuery(document).scrollTop() + 200 + "px" }, 1882 );
            } else {
                wing.animate( { "top": wing_top + "px" }, 1882 );
            };
        });
    });



</script>
<!-- ======= Footer ======= -->
<th:block th:replace="~{fragments/footer :: footFragment}"></th:block>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:replace="~{fragments/importscript :: importJsFragment}"></th:block>

</body>
<script>
    $(document).ready(function(){
        setTimeout(function() {
            $('.slider').bxSlider({
                slideWidth: 200, // 이 값을 이미지의 너비에 맞게 조절하세요
                minSlides: 5,
                maxSlides: 5,
                moveSlides: 1,
                slideMargin: 20, // 이 값을 늘려서 사진들 사이의 간격을 조정하세요
                auto: true,
                pause: 4000, // 1초마다 슬라이드
                captions: true,
                touchEnabled : (navigator.maxTouchPoints > 0)
            });

        }, 50);



    });

</script>
</html>