<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>아주환경개발 - 면허 · 자격</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/importcss :: importCssFragment}"></th:block>
    <style>
        .col-img {
            width: 100%;
        }
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        .col-p{
            font-family: 'Do Hyeon', sans-serif;
            text-align: center;
            font-weight: 700;
        }
    </style>

</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="~{fragments/header :: headFragment}"></th:block>
<!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>면허 · 자격</h2>
            <ol>
                <li><a href="/index">Home</a></li>
                <li><a href="#">회사소개</a></li>
                <li>면허 · 자격</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(7-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">사업자 등록증</p>
                </div>
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(8-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">건설업 등록증</p>
                </div>
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(9-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">건설업 등록수첩</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(10-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">석면해체 제거업자 등록증</p>
                </div>
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(11-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">건설폐기물수집 운반업 허가증</p>
                </div>
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(12-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">지정폐기물수집 운반업 허가증</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(13-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">사업장 폐끼물수집 운반 허가증</p>
                </div>
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(14-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">관리감독자과정 수료증</p>
                </div>
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(15-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">관리자과정 수료증</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(16-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">관리자과정 수료증</p>
                </div>
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(17-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">대한전문건설협회 회원증</p>
                </div>
                <div class="col-sm-4">
                    <img class="col-img" src="assets/img/license/(18-50) 아주환경개발-지명원(2022.11.03작성).jpg">
                    <p class="col-p">기술자 보유현황</p>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="319" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>건설 지정 폐기물 처리업</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="248" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>비계구조물해체공사업</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-people color-pink flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>연혁</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->


            </div>

        </div>
    </section>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:replace="~{fragments/footer :: footFragment}"></th:block>
<!-- End Footer -->


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:replace="~{fragments/importscript :: importJsFragment}"></th:block>

</body>

</html>