<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>아주환경개발 - 공지사항</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/importcss :: importCssFragment}"></th:block>



</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="~{fragments/header :: headFragment}"></th:block>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>공지사항</h2>
            <ol>
                <li><a href="/index">Home</a></li>
                <li>공지사항</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="my-3">
                        <form class="input-group mb-3">
                            <input type="text" class="form-control" name="search" placeholder="검색어를 입력해주세요"
                                   th:value="${param.search}" aria-describedby="button-addon2">
                            <input type="submit" class="btn btn-outline-secondary" value="검색" id="button-addon2">
                        </form>
                    </div>
                    <div class="my-3" th:if="${session.admin != null}" style="display: flex; justify-content: right;">
                        <button class="btn btn-warning" onclick="location.href='/create-notice'">글쓰기</button>
                    </div>
                </div>
            </div>


            <table class="table text-center">
                <colgroup>
                    <col>
                    <col width="50%">
                </colgroup>
                <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일시</th>
                    <th>작성자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board, loop : ${paging}">
                    <td th:text="${board.noticeNumber}"></td>
                    <td class="text-start">
                        <a th:href="@{|/notice/${board.noticeNumber}|}" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${#temporals.format(board.updatedTime, 'yy-MM-dd HH:mm')}"></td>
                    <td th:text="관리자"></td>
                </tr>
                </tbody>
            </table>

            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination blog-pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${paging.number-1}${search != null ? '&search=' + search : ''}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:classappend="${page == paging.number} ? 'active'"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        class="page-item">
                        <a th:text="${page + 1}"
                           th:href="@{|?page=${page}${search != null ? '&search=' + search : ''}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${paging.number+1}${search != null ? '&search=' + search : ''}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:replace="~{fragments/footer :: footFragment}"></th:block>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:replace="~{fragments/importscript :: importJsFragment}"></th:block>

</body>

</html>