<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>아주환경개발 - 실적 및 사례</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <th:block th:replace="~{fragments/importcss :: importCssFragment}"></th:block>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    </style>
    <script>
        $(document).ready(function () {
            $(document).on('click', '.year-btn', function (e) {
                let data = this.dataset.value;
                location.href = "/projects?year=" + data;
            });
            let year = new URLSearchParams(location.search).get('year');
            if (year != null) {
                let classRemove = document.querySelector('.year-btn');
                classRemove.classList.remove('filter-active');
                let btn = document.querySelector('.year-btn[data-value="' + year + '"]');
                btn.classList.add('filter-active');
            }
        });
    </script>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="~{fragments/header :: headFragment}"></th:block>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>실적 및 사례</h2>
            <ol>
                <li><a href="/index">Home</a></li>
                <li>실적 및 사례</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
        <div class="container" data-aos="fade-up">
            <div class="my-4">
                <div th:if="${session.admin != null}" style="display: flex; justify-content: right;">
                    <button class="btn btn-warning" onclick="location.href='/create-project'">글쓰기</button>
                </div>
            </div>

            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                 data-portfolio-sort="original-order">

                <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active year-btn" data-value="ALL">All</li>
                    <li  class="year-btn"  data-filter=".year-2023" data-value="2023">2023</li>
                    <li  class="year-btn"  data-filter=".year-2022" data-value="2022">2022</li>
                    <li  class="year-btn"  data-filter=".year-2021" data-value="2021">2021</li>
                    <li  class="year-btn"  data-filter=".year-2020" data-value="2020">2020</li>
                </ul><!-- End Projects Filters -->



                <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item year-2023" th:classappend="'year-'+${board.constructionYear}" th:each="board, loop : ${paging}">
                        <a th:href="@{|/projects/${board.noticeNumber}|}">
                            <div class="<!--portfolio-content--> h-100">
                                <div class="<!--portfolio-info-->" style="text-align: center">
                                    <img th:src="@{|image/${board.thumbnail.imageNumber}|}" class="img-fluid" alt="">
                                    <p th:text="${board.title}" style="overflow: hidden; white-space: nowrap;    text-overflow: ellipsis; font-family: 'Do Hyeon', sans-serif;">제목</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Projects Item -->


                </div><!-- End Projects Container -->

            </div>
            <div class="blog" th:if="${!paging.isEmpty()}">
                <ul class="pagination blog-pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${paging.number-1}${search != null ? '&search=' + search : ''}${year != null ? '&year=' + year : ''}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:classappend="${page == paging.number} ? 'active'"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        class="page-item">
                        <a th:text="${page + 1}"
                           th:href="@{|?page=${page}${search != null ? '&search=' + search : ''}${year != null ? '&year=' + year : ''}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${paging.number+1}${search != null ? '&search=' + search : ''}${year != null ? '&year=' + year : ''}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </section><!-- End Our Projects Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:replace="~{fragments/footer :: footFragment}"></th:block>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:replace="~{fragments/importscript :: importJsFragment}"></th:block>


</body>

</html>