<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>아주환경개발 - 사업분야</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <th:block th:replace="~{fragments/importcss :: importCssFragment}"></th:block>

</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="~{fragments/header :: headFragment}"></th:block>
<!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>사업분야</h2>
            <ol>
                <li><a href="/index">Home</a></li>
                <li>사업분야</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->

    <section id="service1" class="service1">
        <div class="container" data-aos="fade-up">


            <div style="display: flex;justify-content: center;align-items: center;" class="my-5">
                <img  style="width: 70%;" src="assets/img/service/(36-50) 아주환경개발-지명원(2022.11.03작성)-2.jpg">
            </div>
            <div style="display: flex;justify-content: center;align-items: center;" >
                <img style="width: 70%;" src="assets/img/service/(39-50) 아주환경개발-지명원(2022.11.03작성)-2.jpg">
            </div>
            <div style="display: flex;justify-content: center;align-items: center;" >
                <img style="width: 70%;" src="assets/img/service/(40-50) 아주환경개발-지명원(2022.11.03작성)-2.jpg">
            </div>
            <div style="display: flex;justify-content: center;align-items: center;">
                <img style="width: 70%;" src="assets/img/service/(41-50) 아주환경개발-지명원(2022.11.03작성)-2.jpg">
            </div>
            <div style="display: flex;justify-content: center;align-items: center;" >
                <img style="width: 70%;" src="assets/img/service/(42-50) 아주환경개발-지명원(2022.11.03작성)-2.jpg">
            </div>

        </div>
    </section>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:replace="~{fragments/footer :: footFragment}"></th:block>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<th:block th:replace="~{fragments/importscript :: importJsFragment}"></th:block>

</body>

</html>